  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
<hr>
<footer>
  <div class="footer_left" >
    <h3 class="footer_head"><b>HypeX.gg</b></h3>
    <p>
    A service provided by <a href="https://oculetbot.tk">Oculet</a> || All Rights Reserved
    </p>
</div>
<div class="footer_right">
  
 
   <a href="/doc">Documentation</a> <br>
   
   <a href="/invite">Invite</a> <br>
   
   <a href="/privacypolicy">Privacy Policy</a> <br>
   
   <a href="/support">Support</a> <br> 
 
</div>
</footer>
</html>