<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="d-flex justify-content-center head"  >
  <h1  ><b>Why HypeX?</b></h1>
 
</div>
   <div class="container custom-1" >
  

  <h3 class="align-self-start "><b>Welcome/Leave Messages</b></h3>
  <p>
    • Using image manipulation<br>
    • Set channel<br>
    • Cool design<br>
    • Simple to setup<br>
    
  </p>
</div>
<div class="container custom-1" >
  

<h3 class="align-self-start "><b>Music</b></h3>
<p>
  • Great quality player<br>
  • Easy use <br>
  • Listen to streams <br>
  • YouTube playlists suppored <br>
  
</p>
</div>
<div class="container custom-1" >
  

<h3 class="align-self-start "><b>Tickets</b></h3>
<p>
• Easy to use and setup <br>
• Set tickets category <br>
• Set support role <br>
• Transcript <br>

</p>
</div>
<div class="container custom-1" >
  

<h3 class="align-self-start "><b>Levelling System</b></h3>
<p>
• Rank command using image manipulation <br>
• Safe data in MongoDB <br>
• Level roles <br>
• Easy turn on/off <br>

</p>
</div>

<%- include("partials/footer") %>